body {
    background-color: grey;
    height: 100vh;
}

.ah-page {
    margin: 0px;
    height: 100vh;
}

.main-section {
    background-color: green;
    height: 100vh;
    margin: 0px;
    z-index: 10;
}

/* Canvas Area */
.canvas-section {
    background-color: black;
    height: 92vh;
    margin: 0px;
}

.passive-panels {
    height: 5%;
}

.active-panel {
    height: 80%;
}

.panel {
    width: 100%;
    height: 100%;
    background-color: #34383f;
    border-radius: 20px;
}

.panel-row {
    width: 100%;
}

.panel-icon {
    width: 250px;
    height: 250px;
    margin: auto;
    font-size: 5em;
    background-color: #9e9e9e;
    border-radius: 100%;
}

.attendee-name {
    margin-top: 50px;
    background-color: #4f5155;
    padding: 25px;
    border-radius: 10px;
    display: inline;
    color: white;
    font-size: 1.25rem;
}

.action-section {
    height: 15%;
}

.action-mid-panel {
    width: 50%;
    height: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #34383f;
}

.action-mid-panel-speaker {
    width: 100%;
    height: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #34383f;
}

.action-btn {
    width: 100px;
    height: 75px;
    padding: 0px;
    margin: auto;
    --bs-btn-color: white;
    --bs-btn-bg: #34383f;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #474c53;
    --bs-btn-border-color: #34383f;
    --bs-btn-hover-border-color: #474c53;
}

.action-btn img {
    width: 100%;
    object-fit: contain;
}

/* Bottom Section */
.bottom-section {
    background-color: white;
    height: 80px;
    margin: 0px;
    box-shadow: 2px 0px 2px #e8e8e8;
}

.bottom-section-row {
    padding: 10px 10px;
}

#ah-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 10px 0px;
}

#attendee-count {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    color: gray;
    padding: 10px 0px;
}

#details-btn {
    --bs-btn-color: rgb(33, 117, 213);
    --bs-btn-bg: white;
    --bs-btn-hover-color: rgb(33, 117, 213);
    --bs-btn-hover-bg: rgb(117, 159, 208);
    --bs-btn-border-color: white;
    --bs-btn-hover-border-color: rgb(117, 159, 208);
}

#attendee-count img{
    width: 15%;
    object-fit: contain;
}

#attendee-count p{
    margin-bottom: 0px;
    margin-left: 10px;
}

.change-size-qa-btn {
    width: 50% !important;
}

.change-size-unmute-btn {
    width: 70% !important;
}

.change-size-survey-btn {
    width: 80% !important;
}

/* Side section */
.side-section {
    background-color: white;
    height: 100vh;
    margin: 0px;
    z-index: 0;
}

.side-row {
    margin: 0px;
    padding: 10px 0px;
}

.side-btn {
    width: 100px;
    height: 75px;
    padding: 0px;
    margin: auto;
    --bs-btn-color: black;
    --bs-btn-bg: white;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: rgb(195, 195, 196);
    --bs-btn-border-color: white;
    --bs-btn-hover-border-color: rgb(195, 195, 196);
}

.side-btn img {
    width: 50%;
    object-fit: contain;
}

/* React Button Styling */
.react-section {
    margin: 0px;
    margin-right: 10px;
}

.emoji-section {
    margin-top: 160px;
    visibility: hidden;
}

.emoji-button {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: 2px solid black;
    font-size: 50px;
    margin-bottom: 25px;
}

#react-button {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: 2px solid black;
    position: fixed;
    top: 80%;
    left: 28px;
}

#react-button img {
    width: 50%;
    object-fit: contain;
    display: inline-block;
}

#react-button div {
    font-size: 25px;
    color: black;
}

/* Particle Styling */
.particle {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: -1 !important;
    /* background: black; */
    left: 50%;
    top: 50%;
    transform: translate(-75%, -75%);
    transition: all 2s linear;
}